@page
@model IndexModel
@{
    ViewData["Title"] = "Informacja";
}
<div class="text-center">
    <h1 class="display-4">Aplikacja demonstracyjna Sim Web</h1>
    <h5>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</h5>
    <h5>Mapa typu torus.</h5>
    <h4>Sekwencja ruchów: <strong>@Model.Moves</strong></h4>
    <img src="~/img/greench.png" alt="ELF" class="centered-image" />
</div>